version: '3.9'

services:
  app:
    container_name: mitou-app
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace
      - ./data:/workspace/data
    ports:
      - "8000:8000"
      - "8888:8888"
      - "3000:5100"
    env_file:
      - .env
    depends_on:
      - db
    # HonchoでProcfileの内容を実行
    command: honcho start

  db:
    container_name: mitou-db
    image: postgres:17-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

volumes:
  postgres_data: